::-webkit-scrollbar-button {
  width:5px;
  height:0px
}
::-webkit-scrollbar-button:hover {
  width:10px;

}
::-webkit-scrollbar-track {
  background-color:#ecedee
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color:$scroll;
  transition: 1s ;
}

::-webkit-scrollbar-thumb:hover{
  background-color:$scrollHover;
  transition: background-color 1s ;
}

::-webkit-resizer{

  background-repeat:no-repeat;
  width:4px;
  height:0px
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar:hover{
  width: 10px;
}
html {
  scroll-behavior: smooth;
}
.w100 {
  width: 100%;
}
.h100{
  height: 100%;
}
html.has-scroll-smooth {
  overflow: inherit !important;
}
*{
  //opacity: 0.5
}
[data-scroll-section-inview] * {
  animation-name: bounce-6;
  animation-timing-function: ease;
}
@keyframes bounce-6 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
.nextSectionTitle{
  padding: 1em;
  font-size: 7em;
  text-shadow: 1px 1px 1px black;
}