$color: whitesmoke;
$primary: rgb(38, 70, 83);
$secondary: rgb(42, 157, 143);
$firstSection:rgb(38, 70, 83);
$secondSection:rgb(42, 157, 143);
$thirdSection: rgb(233, 196, 106);
$fourthSection: rgb(244, 162, 97);
$fivethSection: rgb(231, 111, 81);
$accent: rgb(231, 111, 81);
$scroll: rgb(81, 136, 231);
$scrollHover: rgb(66, 86, 191);
$lightAccent: rgb(244, 162, 97);
//$addition 233, 196, 106  244, 162, 97 231, 111, 81